/* Media query for screens with a maximum width of 320px */
@media (max-width: 320px) {
    /* Your CSS styles for screens up to 320px wide go here */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .logo {
        margin-right: 3em;
    }

    .Sneaker_logo {
        margin-top: -4px;
    }
    
    #close_menu {
        display: block;
        margin-top: -2rem;
     margin-left: -3rem;
     padding-bottom: 2rem;
    }

    .navbar-list {
        display: none;
        
    }



    .navbar-list-mobile {
    display: none;
    position: absolute;
    background: hsl(0, 0%, 100%);
    padding: 4rem;
    left: 0rem;
    top: 0rem;
    padding-right: 8rem;
    margin-top: 0rem;
    padding-bottom: 27rem;
    }

    .navbar-item-mobile {
        margin-left: -3rem;
       line-height: 3rem;
    }

    .avatar-cart {
        display: flex;
        gap: 7px;
    }

    .image-avatar {
        height: 28px;
         
    }

    #Modal {
    position: absolute;
    z-index: 1;
    background: hsl(0, 0%, 100%);
    right: 1rem;
    top: 5rem;
    width: 16rem;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    }

    

    .cart-empty {
        padding-top: 2rem;
        color: hsl(220, 14%, 75%);
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

    #cart-item-number {
        position: absolute;
    right: 19px;
    top: 4px;
    font-size: small;
    border-radius: 22px;
    padding-right: 5px;
    padding-left: 5px;
    background: orange;
    color: white;
    }

    .image-thumbnail {
        display: none;
    }
    
    hr {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    picture {
        order: -1;
        width: 100%; /* Adjust the container width as needed */
        max-width: 100%; /* Ensure the image does not exceed the container width */
        height: 270px; /* Adjust the desired height for cropping */
        overflow: hidden; /* Hides the overflow of the image */
    }

    .mobile_pic {
        width: -webkit-fill-available;
    }

    .section {
        padding: 20px;
    }

    p {
        margin-bottom: 1em;
    }
    

    .price {
        display: flex;
    gap: 4em;
    padding-bottom: 10px;
    }

    .current-price {
        margin-right: -2em;
    }

    .discount {
        margin-top: 4px;
    }

    .initial-price {
        margin-top: 4px;
        
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .Atc-btn {
        background-color: orange;
        width: 279px;
        padding-top: 5px;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
}

/* Media query for screens with a minimum width of 321px and a maximum width of 375px */
@media (min-width: 321px) and (max-width: 375px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .Sneaker_logo {
        margin-top: -4px;
    }

    .logo {
        margin-right: 4em;
    }

    .image-thumbnail {
        display: none;
    }
    
    #close_menu {
        display: block;
        margin-top: -2rem;
     margin-left: -3rem;
     padding-bottom: 2rem;
    }
    
    .navbar-list {
        display: none;
    }

    .navbar-list-mobile {
        display: none;
        position: absolute;
        background: hsl(0, 0%, 100%);
        padding: 4rem;
        left: 0rem;
        top: 0rem;
        padding-right: 8rem;
        padding-bottom: 32rem;
    }

    .navbar-item-mobile {
        margin-left: -3rem;
       line-height: 3rem;
    }

    .previousicon {
        position: relative;
        top: 10em;
        left: 2em;
    }

    .nexticon {
        position: relative;
        top: 10em;
        left: 17em;
}
    

    #Modal {
        position: absolute;
        z-index: 1;
        background: hsl(0, 0%, 100%);
        top: 4rem;
        right: 1rem;
        width: 16rem;
        padding: 3em;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
        padding-bottom: 1rem;
    }

    .avatar-cart {
        display: flex;
        gap: 7px;
    }
    .cart-empty {
        padding-top: 2rem;
        color: hsl(220, 14%, 75%);
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

    .image-avatar {
        height: 28px;
    }

    #cart-item-number {
        position: absolute;
        right: 20px;
        top: 3px;
        font-size: small;
        border-radius: 22px;
        padding-right: 5px;
        padding-left: 5px;
        background: orange;
        color: white;
    }

    hr {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    picture {
        order: -1;
        width: 100%; /* Adjust the container width as needed */
        max-width: 100%; /* Ensure the image does not exceed the container width */
        height: 325px;
        overflow: hidden; /* Hides the overflow of the image */
    }

    .mobile_pic {
        width: -webkit-fill-available;
    }

    section {
        padding: 20px;
    }

    p {
        margin-bottom: 1em;
    }

    .price {
        display: flex;
        gap: 4em;
        padding-bottom: 10px;
    }

    .current-price {
        margin-right: -2em;
    }

    .discount {
        margin-top: 4px;
    }

    .initial-price {
        margin-top: 4px;
        
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 280px;
    }

    .Atc-btn {
        background-color: orange;
        width: 280px;
        padding-top: 5px;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
}


/* Media query for screens with a minimum width of 376px and a maximum width of 768px */
@media (min-width: 376px) and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }


    .Sneaker_logo {
        margin-top: -4px;
    }

    .logo {
        margin-right: 7em;
    }
    
    #close_menu {
        display: block;
        margin-top: -5rem;
        margin-left: -5rem;
        padding-bottom: 2rem;
    }
    
    .navbar-list {
        display: none;
    }

    .navbar-list-mobile {
        display: none;
        position: absolute;
        background: hsl(0, 0%, 100%);
        padding: 6rem;
        left: 0rem;
        top: 0rem;
        padding-right: 13rem;
        padding-bottom: 27rem;
    }

    #Modal {
        position: absolute;
        z-index: 1;
        background: hsl(0, 0%, 100%);
        top: 4rem;
        right: 5rem;
        padding: 3em;
        border-radius: 8px;
        width: 16rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
        padding-bottom: 1rem;
    }

    .cart-empty {
        padding-top: 2rem;
        color: hsl(220, 14%, 75%);
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

    .navbar-item-mobile {
        margin-left: -5rem;
       line-height: 3rem;
    }

    .image-thumbnail {
        display: none;
    }

    .avatar-cart {
        display: flex;
        gap: 7px;
        position: relative;
        top: 20px;
    }
    


    
    .image-avatar {
        height: 28px;
    }

    hr {
        display: none;
    }

    .image-cart {
        margin-right: 1rem;
      }

    #cart-item-number {
        position: relative;
        left: 15px;
        bottom: 36px;
        font-size: small;
        border-radius: 22px;
        padding-right: 5px;
        padding-left: 5px;
        width: 18px;
        background: orange;
        color: white;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    picture {
        order: -1;
        width: 100%; /* Adjust the container width as needed */
        max-width: 100%; /* Ensure the image does not exceed the container width */
        height: 380px;
        overflow: hidden; /* Hides the overflow of the image */
    }
    
    .mobile_pic {
        width: -webkit-fill-available;
    }

    .Content {
        padding: 20px;
    }

    p {
        margin-bottom: 1em;
    }

    .price {
        display: flex;
        gap: 7em;
    padding-bottom: 10px;
    }

    .current-price {
        margin-right: -2em;
    }

    .discount {
        margin-top: 4px;
    }

    .initial-price {
        margin-top: 4px;
        margin-left: -19px;
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 350px;
    }

    .Atc-btn {
        background-color: orange;
        width: 352px;
        padding-top: 5px;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
}

/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Your CSS styles for screens between 769px and 1024px wide go here */

    header {
    display: flex;
  }

  .logo {
    margin: 35px;
    margin-right: 3rem;
    margin-left: 5rem;
  }

  #menu-icon {
    display: none;
  }


  .navbar {
    display: flex;
    flex: 1;
  }

  .navbar-list {
    display: flex;
    gap: 2rem;
    margin-top: 17px;
  }

  #Modal {
    position: absolute;
    z-index: 1;
    background: hsl(0, 0%, 100%);
    top: 5rem;
    left: 21rem;
    padding: 3em;
    border-radius: 8px;
    width: 16rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
}

.cart-empty {
    padding-top: 2rem;
    color: hsl(220, 14%, 75%);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

  .navbar-list-mobile {
    display: none;
    position: absolute;
    background: hsl(0, 0%, 100%);
    padding: 4rem;
    left: 0rem;
   top: 0rem;
   bottom: -37rem;
   margin-top: -1rem;
}

.avatar-cart {
    margin-right: 5rem;
    display: flex;
    margin-top: 2rem;
  }

  .image-avatar {
    height: 30px;
}

  hr {
    display: block;
     margin-left: 5rem;
  }
    

  main{
  display: grid;
  grid-template-columns: 52% 50%;
  padding-bottom: 3rem;
  grid-template-areas:
        "picture section"
        "footer footer";
  }

  picture {
    padding-left: 2rem;
    grid-area: picture;
  }

   .mobile_pic {
    height: 20rem;
    width: 29rem;
    margin-left: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

section {
    padding: 50px;
    grid-area: section;
    margin-left: 2rem;
  
}

.quantity-control {
    display: flex;
    gap: 1rem;
}


.quantity {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
}
.discount {
    margin-right: 7rem;
    margin-left: 4rem;
}

.image-thumbnail{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.thumbnail_pic {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

#cart-item-number {
    position: relative;
    left: 10px;
    bottom: 31px;
    font-size: small;
    border-radius: 22px;
    padding-right: 5px;
    padding-left: 5px;
    background: orange;
    color: white;
    width: 18px;
}
  
}

/* Media query for screens with a minimum width of 1025px and a maximum width of 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Your CSS styles for screens between 1025px and 1440px wide go here */

    
    header {
        display: flex;
      }

      .logo {
        margin: 35px;
        margin-right: 3rem;
        margin-left: 5rem;
      }
    
      #menu-icon {
        display: none;
      }
      

      .navbar {
        display: flex;
        flex: 1;
      }
    
      .navbar-list {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
      }

      .image-cart {
        margin-right: 1rem;
      }

      #Modal {
        position: absolute;
        z-index: 1;
        background: hsl(0, 0%, 100%);
        top: 5rem;
        right: 7rem;
        padding: 3em;
        border-radius: 8px;
        width: 16rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding-bottom: 1rem;
        }

    .cart-empty {
        padding-top: 2rem;
        color: hsl(220, 14%, 75%);
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

      .avatar-cart {
        margin-right: 5rem;
        display: flex;
        margin-top: 2rem;
      }

      .image-avatar {
        height: 30px;
    }

    hr {
        margin-left: 5rem;
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 47% 51%;
        padding-bottom: 3rem;
        grid-template-areas:
        "picture section"
        "footer footer";
    }

    picture {
        margin-top: 3rem;
        grid-area: picture;
    }

    .mobile_pic {
        height: 20rem;
    width: 27rem;
    padding-right: -8px;
    margin-left: 6rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    }

    section {
        padding: 50px;
        padding-right: 10rem;
        grid-area: section;
        margin-left: 2rem;
        margin-top: 2rem;
    }


    .quantity-control {
        display: flex;
        gap: 1rem;
    }

    .quantity {
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 1rem;
    }

    .discount {
        margin-right: 17rem;
        margin-left: 2rem;
    }

    .image-thumbnail{
        display: flex;
        justify-content: space-evenly;
       padding-right: 5rem;
       padding-left: 5rem;
       gap: 2rem;
    }

    .thumbnail_pic {
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
    }

    #cart-item-number {
        position: relative;
        left: 13px;
        bottom: 32px;
        font-size: small;
        border-radius: 22px;
        padding-right: 5px;
        padding-left: 5px;
        background: orange;
        color: white;
        width: 18px;
    }
}
