/* Media query for screens with a maximum width of 320px */
@media (max-width: 320px) {
    /* Your CSS styles for screens up to 320px wide go here */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .logo {
        margin-right: 3em;
    }

    .Sneaker_logo {
        margin-top: -4px;
    }
    
    #close_menu {
        display: none;
    }

    .navbar-list {
        display: none;
    }

    .navbar-list-mobile {
        display: none;
    }

    .avatar-cart {
        display: flex;
        gap: 7px;
    }

    .image-avatar {
        height: 20px;
         
    }

    .image-thumbnail {
        display: none;
    }
    
    hr {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    picture {
        order: -1;
        width: 100%; /* Adjust the container width as needed */
        max-width: 100%; /* Ensure the image does not exceed the container width */
        height: 270px; /* Adjust the desired height for cropping */
        overflow: hidden; /* Hides the overflow of the image */
    }

    .mobile_pic {
        width: -webkit-fill-available;
    }

    .Content {
        padding: 20px;
    }

    p {
        margin-bottom: 1em;
    }
    

    .price {
        display: flex;
    gap: 4em;
    padding-bottom: 10px;
    }

    .current-price {
        margin-right: -2em;
    }

    .discount {
        margin-top: 4px;
    }

    .initial-price {
        margin-top: 4px;
        
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .Atc-btn {
        background-color: orange;
        width: 279px;
        padding-top: 5px;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
}

/* Media query for screens with a minimum width of 321px and a maximum width of 375px */
@media (min-width: 321px) and (max-width: 375px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .Sneaker_logo {
        margin-top: -4px;
    }

    .logo {
        margin-right: 4em;
    }

    .image-thumbnail {
        display: none;
    }
    
    #close_menu {
        display: none;
    }
    
    .navbar-list {
        display: none;
    }

    .navbar-list-mobile {
        display: none;
    }

    .avatar-cart {
        display: flex;
        gap: 7px;
    }

    .image-avatar {
        height: 20px;
    }

    hr {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    picture {
        order: -1;
        width: 100%; /* Adjust the container width as needed */
        max-width: 100%; /* Ensure the image does not exceed the container width */
        height: 325px;
        overflow: hidden; /* Hides the overflow of the image */
    }

    .mobile_pic {
        width: -webkit-fill-available;
    }

    .Content {
        padding: 20px;
    }

    p {
        margin-bottom: 1em;
    }

    .price {
        display: flex;
        gap: 4em;
        padding-bottom: 10px;
    }

    .current-price {
        margin-right: -2em;
    }

    .discount {
        margin-top: 4px;
    }

    .initial-price {
        margin-top: 4px;
        
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 280px;
    }

    .Atc-btn {
        background-color: orange;
        width: 280px;
        padding-top: 5px;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
}

/* Media query for screens with a minimum width of 376px and a maximum width of 768px */
@media (min-width: 376px) and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .Sneaker_logo {
        margin-top: -4px;
    }

    .logo {
        margin-right: 7em;
    }
    
    #close_menu {
        display: none;
    }
    
    .navbar-list {
        display: none;
    }

    .image-thumbnail {
        display: none;
    }

    .navbar-list-mobile {
        display: none;
    }

    .avatar-cart {
        display: flex;
        gap: 7px;
    }


    
    .image-avatar {
        height: 20px;
    }

    hr {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    picture {
        order: -1;
        width: 100%; /* Adjust the container width as needed */
        max-width: 100%; /* Ensure the image does not exceed the container width */
        height: 380px;
        overflow: hidden; /* Hides the overflow of the image */
    }
    
    .mobile_pic {
        width: -webkit-fill-available;
    }

    .Content {
        padding: 20px;
    }

    p {
        margin-bottom: 1em;
    }

    .price {
        display: flex;
        gap: 7em;
    padding-bottom: 10px;
    }

    .current-price {
        margin-right: -2em;
    }

    .discount {
        margin-top: 4px;
    }

    .initial-price {
        margin-top: 4px;
        margin-left: -19px;
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 350px;
    }

    .Atc-btn {
        background-color: orange;
        width: 352px;
        padding-top: 5px;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
}

/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Your CSS styles for screens between 769px and 1024px wide go here */

    header {
    display: flex;
  }

  .logo {
    margin: 35px;
    margin-right: 3rem;
    margin-left: 5rem;
  }

  #menu-icon {
    display: none;
  }

  .navbar {
    display: flex;
    flex: 1;
  }

  .navbar-list {
    display: flex;
    gap: 2rem;
    margin-top: 17px;
  }

  .avatar-cart {
    margin-right: 5rem;
  }

  .image-avatar {
    height: 30px;
}

  hr {
    display: block;
     margin-left: 5rem;
  }
    

  main{
  display: grid;
  grid-template-columns: 52% 50%;
  padding-bottom: 3rem;
  }

  picture {
    padding-left: 2rem;
  }

   .mobile_pic {
    height: 20rem;
    width: 27rem;
    margin-left: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

section {
    padding: 50px;
}

.quantity-control {
    display: flex;
    gap: 1rem;
}

.quantity {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
}
.discount {
    margin-right: 7rem;
    margin-left: 4rem;
}

.image-thumbnail{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.thumbnail_pic {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}
  
}

/* Media query for screens with a minimum width of 1025px and a maximum width of 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Your CSS styles for screens between 1025px and 1440px wide go here */

    
    header {
        display: flex;
      }

      .logo {
        margin: 35px;
        margin-right: 3rem;
        margin-left: 5rem;
      }
    
      #menu-icon {
        display: none;
      }

      .navbar {
        display: flex;
        flex: 1;
      }
    
      .navbar-list {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
      }

      .avatar-cart {
        margin-right: 5rem;
      }

      .image-avatar {
        height: 30px;
    }

    hr {
        margin-left: 5rem;
    }

    main {
        display: grid;
        grid-template-columns: 47% 51%;
        padding-bottom: 3rem;
    }

    picture {
        margin-top: 3rem;
    }

    .mobile_pic {
        height: 20rem;
    width: 27rem;
    padding-right: -8px;
    margin-left: 6rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    }

    section {
        padding: 50px;
        padding-right: 10rem;
    }

    .quantity-control {
        display: flex;
        gap: 1rem;
    }

    .quantity {
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 1rem;
    }

    .discount {
        margin-right: 16rem;
        margin-left: 2rem;
    }

    .image-thumbnail{
        display: flex;
        justify-content: space-evenly;
       padding-right: 5rem;
       padding-left: 5rem;
       gap: 2rem;
    }

    .thumbnail_pic {
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
    }
}
