:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale orange: hsl(25, 100%, 94%);
    --Very dark blue: hsl(220, 13%, 13%);
    --Dark grayish blue: hsl(219, 9%, 45%);
    --Grayish blue: hsl(220, 14%, 75%);
    --Light grayish blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);
    --font-family: 'Helvetica Neue', sans-serif;
    }


body {
    font-family: 'Helvetica Neue', sans-serif;  
}

.Sneaker {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-weight: 500;
}

.text-decoration-none {
    color: black;
}

h1 {
    font-weight: 700;
}


.content-paragraph {
    color: hsl(220, 14%, 75%);
}

.current-price {
    font-size: 20px;
    font-weight: 700;
}

.discount {
    background: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
    border-radius: 5px;
}

.initial-price {
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
    font-weight: 500;
}

.quantity {
    background-color: hsl(223, 64%, 98%);
    border-radius: 8px;
}

.Atc-btn {
    background-color: orange;
    width: 280px;
    padding-top: 5px;
    margin-top: 1rem;
    padding-bottom: 5px;
    border-radius: 8px;
    color: white;
}

.number-amount {
    font-weight: 700;
}

hr {
    margin:;
}

.attribution {
    display: none;
}



    